/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    overflow: hidden;
}

:root{
    --background:#0D0B03;
    --brown:#26200D;
    --grey:#D1C8BD;
    --dred:#730707;
    --rose:#D30808;
}

body{
    height:100vh;
}

.big-container{
    background: black;
    width:100%;
    height:100%;
    max-height: fit-content;
    display:grid;
    grid-template-columns: 30% 50% 20%;
}

.daddy-maker{
    padding:10px;
    background:var(--brown);
    border:1px dotted gray;
}

.daddy-climber{
    border:1px dotted yellow;
}

.display{
    width:150px;
    height:200px;
}

.title {
    width:100%;
    height:70px;
    border-radius:20px;
    padding:50px 0;
    color:#D1C8BD;
    font-family: 'Rouge Script',monospace;
    display:flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size:3rem;
    padding-bottom:4px;
}

form{
    color:var(--grey);
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

form section{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding:5px 0;
}

form section:nth-of-type(3){
    padding-top:10px;
    flex-direction: column;
}

input[type="text"]{
    width:50%;
}

h3,h4{
    color:var(--background);
}

h3{
    font-family: 'Rouge Script';
}

.big-preview{
    height:50%;
    width:100%;
    background:var(--dred);
    display:grid;
    grid-template-rows: 15% 50% 30%;
}

.big-preview section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-preview h3 {
    font-size: 2.5rem;
    font-weight: bold;
    background-color:#ae0a0a;
    border-radius: 10px;
    padding:5px;
}

.big-preview img{
    height:100%;
    object-fit: cover;
}

.daddy-climber{
    background: url('pexels-iriser-1122639.jpg');
    background-size: cover;
    color:var(--grey);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap:5px;
}

.daddy-climber section{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap:5px;
}

.daddy-climber section section{
    writing-mode: sideways-lr;
    text-orientation: mixed;
}

.daddy-climber .title {
    width:2.2rem;
    height: 100%;
    border:3px ridge var(--rose);
    border-radius: 0;
}

/* Learned this blur trick from Mojtaba Seyedi:https://codepen.io/seyedi/pen/RwdrMYw */
.tier-list:has(img:hover) img:not(:hover) {
  filter: blur(4px);
}

.tier-list img{
    scale:100%;
    transition:scale ease .5s
}

.tier-list img:hover{
    scale: 110%;
}

.dungeon{
    background:#ae0a0aBB;
    font-size: 2rem;
}

.delicious{
    background: #a10a0abb;
    font-size: 2rem;
}

.complex{
    background: #730707BB;
    font-size: 2rem;
    
}

.has-issues{
    background: #560606bb;
    font-size: 1.5rem;
}

.not-my-dad{
    background: #230202bb;
    font-size: 1.2rem;
}

.zoomify {
    padding:15px 5%;
    background: url('pexels-iriser-1122639.jpg');
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
}

.name-container{
    height:150px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#9c958d66,#cac1b788);
    border-radius: 10px;
}

#zoomedName {
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
    color: var(--brown);
}

.invisible{
    opacity: 0;
    transition:opacity .7s;
}

.zoomify img{
    height:400px;
    width:250px;
}

.icons{
    padding:20px 10px;
    background: linear-gradient(#cac1b788,var(--dred));
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    width:100%;
    justify-content: space-evenly;
}

.icons span{
    font-size: 2.2rem;
    border: 1px solid black;
    background-color: transparent;
    padding:1.5rem;
    transition:background-color 1s ease;
}

.icons span:hover{
    background-color: #D1C8BD;
}

.desc-container{
    background:linear-gradient(var(--dred)0%,var(--dred)60%,var(--brown));
    height:300px;
    width:100%;
    padding:5px 3px;
}

#zoomedDesc{
    font-size:1.5rem;
    color:var(--grey);
    text-align: center;
}

/* Fade in Transition */
.fadeInTransition{
    opacity:1;
}